body {
	font-family: "verdana", sans-serif;
	color: #bfbfbf;
	background-color: #413e59;

}
a	{
	color: #a30021;
}
h1{
	color: #579454;
}
h2{
	color: #379432;
}
h1{
	font-size: 40pt;
}
strong{
	color: #bd672d;
}